.services-main-container {
    height: 417vh;
    width: 100vw;
    padding-top: 27vh;
}

.services-heading {
    color: rgb(99, 97, 97);
    font-family: 'Merriweather', serif;
    font-size: 3vw;
}

.services-content {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}

.web-dev-info {
    height: 78vh;
    width: 100vw;
}

.app-dev-info {
    height: 78vh;
    width: 100vw;

}

.custy-soft-info {
    height: 78vh;
    width: 100vw;

}

.hosting-info {
    height: 78vh;
    width: 100vw;

}

.pre-builds-info {
    height: 78vh;
    width: 100vw;

}