.footer-container {
    height: 20vh;
    width: 100vw;
    background-color: rgb(99, 97, 97);
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.copyright {
    padding-top: 2vh;;
}